* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    border: 0;
    outline: 0;
    /* text-transform: capitalize; */
    text-decoration: none;
    transition: all 0.3s linear;
  }

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;  
  }

body {
    background: #282828;
  }

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #FFFFFF;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8%;
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0 , 0, 0.2);
}

/* header .logo {
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    color: #00BFFF
}

header .logo i {
    color:black;
} */

header ul.menu {
    float: right;
    display: flex;
    list-style: none;
}

header ul.menu li {
    margin: 0rem 1rem;
}

header ul.menu li a {
    color: #222;
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header ul.menu li a:hover {
    color: rgb(90, 171, 172);
}

#menu_icon {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    cursor: pointer;
    color: #222;
    border: 0.3rem solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    display: none;
}

@media (max-width: 768px) {
    #menu_icon {
        display: block;
        float: right;
    }

    header .menu {
        position: absolute;
        top: 120%;
        right: 2rem;
        border-radius: 1rem;
        border: 0.3rem solid rgba(0, 0, 0, 0.3);
        box-shadow: 0rem 1rem 1.5rem rgba(0, 0 , 0, 0.2);
        width: 20rem;
        background: #FFFFFF;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .menu li {
        padding: 1.5rem;
        border: 0.2rem solid rgba(0, 0 , 0, 0.1);
        background: #FFFFFF;
        border-radius: 1rem;
    }
    
    header .menu li:hover {
        background: rgb(179, 212, 213);
    }

}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 115vh;
    align-items: center;
    padding-left: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1637963343684-b2e722e09d3d?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .content h3 {
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #FFFFFF;
}

.home .content p {
    font-size: calc(14px + (23 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    color: #FFFFFF;
}

.text {
    display: flex;
    justify-items: center;  
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 3rem;
    padding: 2rem 2rem 0 2rem;
}

.text p { 
    color: #FFFFFF;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
   
}

.container {
    width: 100%;
    min-height: 100vh;
    text-align: center;    
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container .title {
    color: #FFFFFF;
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));   
}

.box-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-container .box {
    margin-top: 2rem;
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0 , 0, 0.2), 0rem -1rem 1.5rem rgba(0, 0 , 0, 0.2);
}

.box-container .box img {
    width: 100%;
    height: 50rem;
    border-radius: 0.5rem;
}

.overlay-img {
    display: block;
    background: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.overlay-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.overlay-img .box-content {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding: 0rem 2rem;
    transition: 0.7s;
}

.overlay-img .box-content .title {
    font-size: calc(17px + (25 - 17) * ((100vw - 300px) / (1600 - 300)));
}

.overlay-img .box-content .subtitle {
    opacity: 0.7;
    margin-bottom: 3rem;
}

.overlay-img .box-content p {
    margin-top: 10rem;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.overlay-img:hover .overlay,
.overlay-img:focus .overlay {
    background: rgba(0, 0, 0, 0.6);
}

.overlay-img:hover .box-content,
.overlay-img:focus .box-content {
    top: 40%;
}

.overlay-img:hover .box-content p,
.overlay-img:focus .box-content p {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 5rem;
}

.div_photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_photo .title_photo {
    font-size: 3rem;
    /* padding: 1rem orem 3rem; */
    color: #FFFFFF;
    font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));   
    margin-top: 3rem;
}

.photo .left-side .img img {
    width: 43rem;
    height: 60rem;
    border-radius: 2rem;
}

.photo .left-side {
    flex: 1 1 40rem;
}

/* .photo h2 {
    font-size: 3rem;
    padding: 1rem orem 3rem;
    color: #FFFFFF;
    margin-bottom: 3rem;
} */

.photo .right-side {
    flex: 1 1 40rem;
}

.photo .right-side .box_side {
    margin: 1rem;
    padding: 2rem 2.5rem;
    width: 45rem;
}

.photo .right-side .box_side i {
    font-size: 4rem;
    color: rgba(153, 153, 153, 0.5);
    margin-bottom: 1rem;
}

.photo .right-side .box_side p {
    font-size:  1.8rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer h3{ 
    position: absolute;
    color: #FFFFFF;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));   

}

.footer img {
    width: 100%;
    opacity: 0.6;
}

/* .go-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.go-top i {
    width: 5rem;
    height: 5rem;
    background: black;
    opacity: 0.7;
    text-align: center;
    display: block;
    line-height: 5rem;
    border-radius: 50%;
    color: #FFFFFF;
    border: 0.3rem solid #ffffff;
    font-size: 2rem;
}

.go-top i:hover {
    cursor: pointer;
} */
